<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <link rel="stylesheet" href="/public/css/library.css">
    <title>Chesscord</title>
</head>
<body>
    {{> navbar}}
    <div class="cards-container">
        <div class="card" onclick="location.href='/library/italian'">
            <h2>Italian Game</h2>
            <p>Classic opening with fast development and control of the center.</p>
            <a href="/library/italian">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/sicilian'">
            <h2>Sicilian Defense</h2>
            <p>A dynamic response to 1.e4 that leads to complex and tactical positions.</p>
            <a href="/library/sicilian">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/french'">
            <h2>French Defense</h2>
            <p>Leading to slower games, this opening is a good choice for players of all levels.</p>
            <a href="/library/french">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/lopez'">
            <h2>Ruy Lopez</h2>
            <p>Despite having a large amount of theory, an opening that players of all levels can enjoy.</p>
            <a href="/library/lopez">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/slav'">
            <h2>Slav Defense</h2>
            <p>A solid opening for Black in response to White's Queen's Gambit (1.d4 d5 2.c4)</p>
            <a href="/library/slav">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/caro'">
            <h2>Caro-Kann Defense</h2>
            <p>A standby for positional players at almost every level, the Caro-Kann was a particular favorite of world champion GM Anatoly Karpov. </p>
            <a href="/library/caro">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/scan'">
            <h2>Scandinavian Defense</h2>
            <p>Seventh most popular response to 1. e4 for Black</p>
            <a href="/library/scan">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/pirc'">
            <h2>Pirc Defense</h2>
            <p>A radical opening, Black allows White to occupy center with pawns and attempts to counter and prove it to be over-extended</p>
            <a href="/library/pirc">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/alekhine'">
            <h2>Alekhine's Defense</h2>
            <p>A hypermodern response to 1.e4, Black lets White establish presence in center, scoring as well as French Defense</p>
            <a href="/library/alekhine">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/kings-gambit'">
            <h2>King's Gambit</h2>
            <p>For tactical players who enjoy sharp games can still employ this opening to play for a fabulous (and usually sacrificial) attack to win the game in style.</p>
            <a href="/library/kings-gambit">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/scotch'">
            <h2>Scotch Game</h2>
            <p>A centuries ol 1.e4 opening for White and alternative to Ruy Lopez. Good for beginners</p>
            <a href="/library/scotch">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/queens-gambit'">
            <h2>Queen's Gambit</h2>
            <p>Control the center with this popular opening for White after 1.d4.</p>
            <a href="/library/queens-gambit">Learn More</a>
        </div>

        <!-- start of the d4 openers-->
        <div class="card" onclick="location.href='/library/kings-indian'">
            <h2>King's Indian Defense</h2>
            <p>A hypermodern aggressive opening for Black as a response for 1.d4.</p>
            <a href="/library/kings-indian">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/nimzo'">
            <h2>Nimzo-Indian Defense</h2>
            <p>Considered one of Black's best responses to White's 1.d4 opener.</p>
            <a href="/library/nimzo">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/queens-indian'">
            <h2>Queen's Indian Defense</h2>
            <p>When coupled with the Nimzo-Indian Defense, Black gets a complete defense against White's queen's pawn openings.</p>
            <a href="/library/queens-indian">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/catalan'">
            <h2>Catalan Opening</h2>
            <p>A 1.d4 opening where White seeks to combine the kingside fianchetto with pawns on d4/c4.</p>
            <a href="/library/catalan">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/bogo-indian'">
            <h2>Bogo-Indian Defense</h2>
            <p>Named for GM Efim Bogoljubow, Black develops the kingside quickly.</p>
            <a href="/library/bogo-indian">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/grunfeld'">
            <h2>Grunfeld Defense</h2>
            <p>More confrontational in the center. White might get a central pawn mass, but Black plans to strike it down.</p>
            <a href="/library/grunfeld">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/dutch'">
            <h2>Dutch Defense</h2>
            <p>Might look like a reverse version of the Sicilian (1.e4 c5)but, 1...f5 gains space on the kingside at the expense of some weaknesses.</p>
            <a href="/library/dutch">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/trompowsky'">
            <h2>Trompowsky Attack</h2>
            <p>An offbeat 1.d4 opening for White as a response to Black's 1...Nf6. A good opening for players of every level.</p>
            <a href="/library/trompowsky">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/benko'">
            <h2>Benko Gambit</h2>
            <p>Named for GM Pal Benko, Black, not White, gives up a pawn for long-term positional compensation.</p>
            <a href="/library/benko">Learn More</a>
        </div>

        <div class="card" onclick="location.href='/library/london'">
            <h2>London System</h2>
            <p>A popular 1.d4 opening for White which has the reputation of being very solid.</p>
            <a href="/library/london">Learn More</a>
        </div>
    </div>

</body>
</html>
